<!DOCTYPE>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
  </head>
  <body style="background-color: peachpuff;">
    <h1 style="text-shadow: 2px 2px 5px palevioletred;">Book a Flight</h1>
     <div class="container">
      <form [formGroup] = "FlightForm">
        <div class="row">
          <div class="column">
            <label>Full name 
              <br><input [ngModel]="flight.fullName" type="text" formControlName="fullName" class="input-text"/></label><br>
              <span style="color: red;" *ngIf="FlightForm.get('fullName')?.errors?.['required']">*FullName required</span>
          </div>
        </div>
            <div class="row">
              <div class="column">
                <span>
                  From
                  <br>
                <select [ngModel]="flight.from" formControlName="from">
                  <option value="">-------From--------</option>
                  <option *ngFor="let s of From">{{s.from}}</option>
                </select>
                </span>
                <span style="color: red;" *ngIf="FlightForm.get('from')?.errors?.['required']">*from required</span>
              </div>
              <div class="column">
                <span>
                  To 
                  <br>
                <select  [ngModel]="flight.to" formControlName="to">
                  <option value="">-------To--------</option>
                  <option *ngFor="let s of To">{{s.to}}</option>
                </select>
                <span style="color: red;" *ngIf="FlightForm.get('to')?.errors?.['required']">*to required</span>
                </span>
              </div>
            </div>
    
        <div class="row">
          <div class="column">
            <label>Trip Type</label>
             <span style="color: red;" *ngIf="FlightForm.get('options')?.errors?.['required']"> *Type required</span> 
            <div><label class="form-control"><input [ngModel]="flight.type" type="radio" formControlName="options" value="Oneway"/>Oneway</label></div>
            <div><label class="form-control"><input [ngModel]="flight.type" type="radio" formControlName="options" value="Return"/>Return</label></div>
          </div>
            <div class="column">
              <label>Departure<br>
                <mat-form-field class="example-full-width" appearance="fill" style="background-color: black;color: aliceblue; margin-top: 10px;border: 5px solid;">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" [ngModel]="flight.departure" formControlName="departure" [min]="todayDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
              </label>
            </div>
            <div class="column">
            <label>
              Arrival<br>
              <mat-form-field class="example-full-width" appearance="fill" style="background-color: black;color: aliceblue; margin-top: 10px;border: 5px solid;">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker2" [ngModel]="flight.arrival" formControlName="arrival" [min]="todayDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker2></mat-datepicker>
              </mat-form-field>
            </label>
            </div>
            
            </div>
        <div class="row">
          <div class="column">
            <label>Adults<br><input [ngModel]="flight.adults" type="number" formControlName="adults" class="input-number"/></label>
    
          </div>
          <div class="column">
            <label>Children<br><input [ngModel]="flight.children" type="number" formControlName="children" class="input-number"/> </label>
    
          </div>
          <div class="column">
            <label>Infants<br><input [ngModel]="flight.infants" type="number" formControlName="infants" class="input-number"/></label> 
          </div>
        </div>
        <div style="display: flex;justify-content: center;">
          <button class="button-44" role="button" [disabled]="FlightForm.invalid"  (click)="onSubmit(FlightForm)">Submit</button>
        </div>
        </form>
      </div>
      <h1 style="text-shadow: 2px 2px 5px white;">Flight List</h1>
        <div style="justify-content: center;display: flex;">
          <table class="styled-table" >
            <thead>
              <tr>
                <th>FullName</th>
                <th>Form</th>
                <th>To</th>
                <th>TripType</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Adults</th>
                <th>Children</th>
                <th>Infants</th>
              </tr>
            </thead>
            <tbody style="background-color: aliceblue;">
              <tr *ngFor="let f of booking">
                <td>{{f.fullName}}</td>
                <td>{{f.from}}</td>
                <td>{{f.to}}</td>
                <td>{{f.type}}</td>
                <td>{{f.departure}}</td>
                <td>{{f.arrival}}</td>
                <td>{{f.adults}}</td>
                <td>{{f.children}}</td>
                <td>{{f.infants}}</td>
    
              </tr>
            </tbody>
          </table>
        </div>
  </body>
</html>